[DEFAULT]
name = libxc
abbrev = XC
default_version = 7.0.0
description = Library of exchange-correlation functionals
makej = 4
headers =
  xc.h
  xc_funcs.h
  xc_version.h
libraries =
  libxc.a
modules =
languages = C Fortran
check_api = yes
pkgconfig = yes

[7.0.0]
urls =
#  https://gitlab.com/libxc/libxc/-/archive/7.0.0/libxc-7.0.0.tar.gz
  https://forge.abinit.org/libxc-7.0.0.tar.gz
md5sum = bfed96a2fb2c1207a6a3672269a9c7f8

[6.2.2]
urls =
  https://www.tddft.org/programs/libxc/down/6.2.2/libxc-6.2.2.tar.gz
  https://forge.abinit.org/libxc-6.2.2.tar.gz
md5sum = 66b4f431e2b80d8689a176dcb696bffe 

[6.0.0]
urls =
  https://www.tddft.org/programs/libxc/down/6.0.0/libxc-6.0.0.tar.gz
  https://forge.abinit.org/libxc-6.0.0.tar.gz
md5sum = 366239ebe6c9ca3a802ff8ecab70daa2

[5.2.3]
urls =
  https://www.tddft.org/programs/libxc/down/5.2.3/libxc-5.2.3.tar.gz
  https://forge.abinit.org/libxc-5.2.3.tar.gz
md5sum = 53cf32cf9c0142a42650cc538de16dcf

[5.1.5]
urls =
  https://www.tddft.org/programs/libxc/down/5.1.5/libxc-5.1.5.tar.gz
  https://forge.abinit.org/libxc-5.1.5.tar.gz
md5sum = 7e7717a52ac79b55bbf42371a8d0274e

[4.3.4]
urls =
  https://www.tddft.org/programs/libxc/down/4.3.4/libxc-4.3.4.tar.gz
  https://forge.abinit.org/libxc-4.3.4.tar.gz
md5sum = ec17884768fe41bc234f79cedb85af66

[4.2.3]
urls =
  https://www.tddft.org/programs/libxc/down/4.2.3/libxc-4.2.3.tar.gz
  https://forge.abinit.org/libxc-4.2.3.tar.gz
md5sum = 6176ac7edf234425d973903f82199350

[3.0.0]
urls =
  https://www.tddft.org/programs/libxc/down/3.0.0/libxc-3.0.0.tar.gz
  https://forge.abinit.org/libxc-3.0.0.tar.gz
md5sum = 8227fa3053f8fc215bd9d7b0d36de03c
headers =
  xc.h
  xc_config.h
  xc_funcs.h
  xc_unconfig.h
  xc_version.h
libraries =
  libxc.a
  libxcf90.a
modules =
  libxc_funcs_m.mod
  xc_f90_lib_m.mod
  xc_f90_types_m.mod

[2.2.3]
urls =
  http://www.tddft.org/programs/octopus/down.php?file=libxc/libxc-2.2.3.tar.gz
  https://forge.abinit.org/libxc-2.2.3.tar.gz
md5sum = 7ac83a377b9564fc2de91ce19f8ffede
headers =
  xc.h
  xc_config.h
  xc_funcs.h
  xc_unconfig.h
  xc_version.h
libraries =
  libxc.a
  libxcf90.a
modules =
  libxc_funcs_m.mod
  xc_f90_lib_m.mod
  xc_f90_types_m.mod

[2.2.1]
urls =
  http://www.tddft.org/programs/octopus/down.php?file=libxc/libxc-2.2.1.tar.gz
  https://forge.abinit.org/libxc-2.2.1.tar.gz
md5sum = 38dc3a067524baf4f8521d5bb1cd0b8f
headers =
  xc.h
  xc_config.h
  xc_funcs.h
  xc_unconfig.h
  xc_version.h
libraries =
  libxc.a
  libxcf90.a
modules =
  libxc_funcs_m.mod
  xc_f90_lib_m.mod
  xc_f90_types_m.mod
